<div class="subscription-options-container">
  <div class="subscription-options">
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Free</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>✅ Monthly recap sent to email</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>✅ Share to social media</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>✅ Listening history going back 30 days</span>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="subscription-options">
    <mat-list role="list">
      <mat-list-item>
        <span matListItemTitle role="listitem">Music Nerd</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>✅ Monthly Recap Sent to Email</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>✅ On-Demand Recaps and Dashboard Access</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>✅ Export data to Excel</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>✅ Unlimited listening history</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>✅ On-Demand Visualizations</span>
      </mat-list-item>
    </mat-list>
  </div>
</div>