<div class="subscription-options-container">
  <div class="subscription-options">
    <mat-list>
    <mat-list-item>
      <span matListItemTitle>Free</span>
      <span matListItemLine>✅ Monthly Recap Sent to Email</span>
      <span matListItemLine>✅ Share to social media </span>
      <span matListItemLine>❌ Listening history longer than 30 days at a time</span>
      <span matListItemLine>❌ Export data to Excel</span>


    </mat-list-item>
  </mat-list>
  </div>

  <div class="subscription-options">
    <mat-list role="list">
    <mat-list-item>
      <span matListItemTitle role="listitem">Music Nerd</span>
      <span matListItemLine>✅ On-Demand Recaps and Dashboard Access</span>
      <span matListItemLine>✅ Export data to Excel</span>
      <span matListItemLine>✅ Unlimited listening history</span>
      <span matListItemLine>✅ On-Demand Visualizations</span>

    </mat-list-item>
  </mat-list>
  </div>
  
</div>
