<div class="subscription-options-container">
  <div class="subscription-options">
    <mat-list>
    <mat-list-item>
      <span matListItemTitle>Free</span>
      <span matListItemLine>✅ Monthly Recap Sent to Email</span>
      <span matListItemLine>✅ Shareable via Social Media </span>
      <span matListItemLine>❌ Listening history deletes after a month</span>
      <span matListItemLine>❌ No Option to export raw history</span>

    </mat-list-item>
  </mat-list>
  </div>

  <div class="subscription-options">
    <mat-list role="list">
    <mat-list-item>
      <span matListItemTitle role="listitem">Music Nerd</span>
      <span matListItemLine>✅ On-Demand Recaps and Dashboard Access</span>
      <span matListItemLine>✅ Export Data to Excel</span>
      <span matListItemLine>✅ Listening History stays month over month</span>
      <span matListItemLine>✅ On-Demand Visualizations</span>

    </mat-list-item>
  </mat-list>
  </div>
  
</div>
