.homepage-container{
    background-color: var(--main-color);
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    font-size: clamp(20px, 2vw, 100px);
}

.description-text{
    font-size: 75%;
}