<div class="homepage-container">
  <!-- sign up buttons, interactive graph, how it works, privacy, sign up but larger -->
  <h3 class="description-text" style="font-weight: 10;">Explore your listening habits with <span style="font-weight:1000;">unmatched</span> granularity.</h3>

  <div class="chart-container">
    <app-graph-viewer></app-graph-viewer>
    
  </div>
  <h3 style="font-weight: 1000; padding-bottom: 5px;">How it works</h3>
  <p class="description-text" style="width: 60%;">Most streaming services only show you basic listening summaries. We create a detailed listening history and send you personalized monthly recaps packed with insights and visualizations. We currently support Spotify, with more platforms coming soon—check out our subscription options below.
  </p>
  <div class="subscription-options">
    <app-subscription-options></app-subscription-options>
  </div>

  <button mat-raised-button class="get-started-btn">Get Started</button>



</div>
