.homepage-container{
    background-color: var(--main-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    font-size: clamp(20px, 2vw, 100px);
    overflow-y: scroll;
    padding-top: 50px;

}

.description-text{
    font-size: 75%;
}

.chart-container{
    width: 80%;
}

