<div class="homepage-container">
  <!-- sign up buttons, interactive graph, how it works, privacy, sign up but larger -->
  <h3 style="font-weight: 10;">Explore your listening habits with <span style="font-weight:1000;">unmatched</span> granularity.</h3>

  <div class="chart-container">
    <app-graph-viewer></app-graph-viewer>
    <h3 style="font-weight: 10;">How it works</h3>
  </div>
  <p class="description-text" style="width: 80%;">Most streaming services only allow you to access your listening history in aggregate. Our website will build up a 
      complete listening history for you and email you a recap full of awesome graphs and stats once a month! If you decide to go premium, you'll enjoy features like 
       exporting your data to Excel, on-demand recaps, and more. See the complete list of features below.
  </p>
</div>
